.MainChat
  .MainTop
    .GroupInfo
      .GroupInfo__GroupName
        岡山家
      %ul.GroupInfo__MemberList
        Member : 
        %li.GroupInfo__MemberList__first
          かなた
        %li.GroupInfo__MemberList__second
          みゆ
    =link_to "#",class:"EditBtn" do
      .EditBox
        Edit

  .MessageList
    .MessageInfo
      .MessageInfo__UserName
        かなた
      .MessageInfo__PostDate
        2020/01/02(tue)17:17:22
    .message
      おはよう

    .MessageInfo
      .MessageInfo__UserName
        みゆ
      .MessageInfo__PostDate
        2020/01/02(tue)18:17:22
    .message
      こんばんちゃ

  .MessageForm