.mainChat
  .mainTop
    .groupInfo
      .groupInfo__groupName
        岡山家
      %ul.groupInfo__memberList
        Member : 
        %li.groupInfo__memberList__first
          かなた
        %li.groupInfo__memberList__second
          みゆ
    =link_to "#",class:"editBtn" do
      .editBox
        Edit

  .messageList
    .messageInfo
      .messageInfo__userName
        かなた
      .messageInfo__postDate
        2020/01/02(tue)17:17:22
    .message
      おはよう

    .messageInfo
      .messageInfo__userName
        みゆ
      .messageInfo__postDate
        2020/01/02(tue)18:17:22
    .message
      こんばんちゃ

  %form.messageForm
    .messageForm__formBox
      %input{type:"text",placeholder:" type a message!!",class:"messageForm__formBox__textBox"}
      %label{class:"messageForm__formBox__photoBtn"}
        =icon("fas","image")
        %input{type:"file",class:"messageForm__formBox__photoBtn--extra"}
    %input{type:"submit",value:"Send",class:"messageForm__sendBtn"}